# 環境以Linux為主，設定git的自動換行為lf

# 目錄下的所有文件視為第三方代碼庫，不會對其進行語言檢測和統計
odoo/* linguist-vendored
addons/* linguist-vendored



# 在與存儲庫交互時，會將結尾定位符改為LF，但在檢出時不會進行自動轉換
git config core.autocrlf input

# 表示將.sh文件視為文本文件，並在檢出時將結尾定位符轉換為LF
*.sh text eol=lf

# 將wait-for-psql.py文件視為文本文件，並在檢出時將結尾定位符轉換為LF
wait-for-psql.py text eol=lf